.pool-lights-page {
    width: 100%;                    /* Ensures the page container spans full width */
    display: flex;                  /* Allows for flexibility in layout adjustments */
    justify-content: center;        /* Centers the main split-section horizontally */     
}

.split-section {
    display: flex;
    justify-content: space-between; /* Adds space between left and right sections */
    align-items: stretch;           /* Makes both sections stretch to the full height */
    height: 200vh;                   /* Adjust height as needed */
    width: 100%;                    /* Ensures it spans full width */
    margin-top: -300px;             /* Adjusts vertical positioning */
}

.lightsLeft {
    flex: 1;                        /* Makes left section flexible */
    display: flex;                  /* Flex container for centering */
    justify-content: center;        /* Centers content horizontally */
    align-items: center;            /* Centers content vertically */
    background-color: white;    /* Optional: background color for visibility */
    text-align: center;             /* Center-aligns text inside */
    padding: 10px;                 /* Optional padding for spacing */
    flex-direction: column;       /*Makes each text in column*/        
}

#headera{
    font-size: 80px;
    background-color: #FFD401;
    color: #2D3194;
    text-align: center;
    min-width: 800px;
    line-height: -500; /* Adjust line height for text block height */
    padding: 5px 0; /* Minimal padding to reduce the background height */

    display: flex;
    align-items: center;     /* Centers vertically */
    justify-content: center; /* Centers horizontally */

    margin-top: 150px; /* Adjust value to move the element down */
}

.lightsLeft p{
    font-size: 10px;
    color: #2D3194;
    text-align: center;
    margin: 0;
}

.lightsRight{
    flex: 1;                        /* Makes right section take up more space */
    background-color: white;        /* Background color for visibility */
    display: flex;                  /* Flex container for centering */
    justify-content: center;        /* Centers content horizontally */
    align-items: center;            /* Centers content vertically */
    text-align: center;             /* Center-aligns text inside */
    padding: 10px;                  /* Optional padding for spacing */
    background-image:  url('../images/RDLightsImage2.png');
}

.lightsLeft p{
    font-size: 30px;
}

.lightsLeft h1{
    font-size: 100px;
}


